:host
    display: block;
    position: fixed;
    background-color: #FDFFFC; // #A52626, #19335B, #235789, #F1D302
    height: 50px;
    width:100%;
    z-index: 1;
    box-shadow: rgba(35,87,137,0.11) 0 1px;

    &:before
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;

img.logo
    display: inline-block;
    height: 95%;
    padding-left: 10px
    vertical-align: middle;