<div class="tips-wrapper" *ngIf="tips.length">
  <div class="flex tips-header">
    <mat-icon class="tips-icon">speaker_notes</mat-icon>
    <h3>{{ tips.length }} tips and reviews</h3>
  </div>
  <mat-card *ngFor="let tip of tips" class="tip">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="profile" [src]="tip.profilePhotoUrl" />
      </div>
      <mat-card-title>{{ tip.authorName }}</mat-card-title>
      <mat-card-subtitle
        ><div class="rating">
          <ng-container *ngIf="tip?.rating >= 1; else emptyStars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </ng-container>
          <ng-container *ngIf="tip?.rating >= 2; else emptyStars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon> </ng-container
          ><ng-container *ngIf="tip?.rating >= 3; else emptyStars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon> </ng-container
          ><ng-container *ngIf="tip?.rating >= 4; else emptyStars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon> </ng-container
          ><ng-container *ngIf="tip?.rating >= 5; else emptyStars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </ng-container>
        </div>
        {{ tip.relativeTimeDescription }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>{{ tip.text }}</p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #emptyStars>
  <mat-icon class="empty">star_border</mat-icon>
  <mat-icon class="empty">star_border</mat-icon>
</ng-template>
