@import 'src/themes/colors';

::ng-deep {
  .tips-icon {
    margin: 0 10px;
    color: $primary-dark;
  }

  .mat-card-title {
    font-size: 14px !important;
  }

  .mat-card-subtitle .rating {
    color: $primary;
  }
}

.tips-wrapper {
  margin-top: 20px;

  .tips-header h3 {
    margin: 0;
  }

  .tip {
    margin: 5px;

    img.profile {
      width: 100%;
      height: 100%;
    }
  }

  @media only screen and (min-width: 950px) {
    margin-top: 0;
    padding-right: 20px;
  }
}
