<div class="tips-wrapper" *ngIf="tips.length">
  <div class="flex tips-header">
    <mat-icon class="tips-icon">speaker_notes</mat-icon>
    <h3>{{ tips.length }} tips and reviews</h3>
  </div>
  <mat-card *ngFor="let tip of tips; trackBy: trackTips" class="tip">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="profile" [src]="tip.profilePhotoUrl" />
      </div>
      <mat-card-title>{{ tip.authorName }}</mat-card-title>
      <mat-card-subtitle
        ><div class="rating">
          <ng-container *ngFor="let number of starNumbers">
            <mat-icon [class.empty]="tip?.rating <= number">
              {{ tip?.rating >= number ? 'star' : 'star_border' }}
            </mat-icon>
            <mat-icon [class.empty]="tip?.rating <= number">
              {{ tip?.rating >= number ? 'star' : 'star_border' }}
            </mat-icon>
          </ng-container>
        </div>
        {{ tip.relativeTimeDescription }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>{{ tip.text }}</p>
    </mat-card-content>
  </mat-card>
</div>
