:host
    display: block;
    width: 100%;
    height: 400px;
    background-color: rebeccapurple;

    agm-map 
        height: 100%;


@media only screen and (min-width: 961px)
    :host
        position: fixed;
        height: 100%;
        width: 50%;
        right: 0;

        agm-map 
            height: 100%;
        