@import 'src/themes/colors';

:host {
  width: 100%;
}

.outer-details-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background-color: $accent-dark;

  .details-container {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    width: 100%;
    height: 100%;

    & > * {
      background-color: white;
      padding: 8px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 2px;
      -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
      box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
    }

    .contacts-tips-wrapper {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 950px) {
    & .details-container > * {
      margin-top: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

    & .details-container .contacts-tips-wrapper {
      flex-direction: row-reverse;
    }
  }

  @media only screen and (max-width: 560px) {
    & {
      padding-top: 50px;

      .details-container {
        & > * {
          padding: 8px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }

        .contacts-tips-wrapper {
          flex-direction: column;
          padding: 8px 3px;
        }
      }
    }
  }
}
