@import 'src/themes/colors';

:host {
  width: 100%;
}

.outer-details-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  background-color: $accent-dark;

  .details-container {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    z-index: 0;

    .contacts-tips-wrapper {
      flex-direction: column;
      background-color: white;
    }
  }

  @media only screen and (min-width: 950px) {
    & .details-container > * {
      margin-top: 5px;
    }

    & .details-container .contacts-tips-wrapper {
      flex-direction: row-reverse;
      padding: 20px;
    }
  }

  @media only screen and (max-width: 560px) {
    & {
      padding-top: 50px;
      min-height: calc(100vh - 50px);

      .details-container .contacts-tips-wrapper {
        flex-direction: column;
        padding: 6px 10px;
      }
    }
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: all 0.6s;

    img {
      object-fit: cover;
      filter: blur(1.5px);
    }
  }
}
