<app-spinner [visible]="isLoading"></app-spinner>
<mat-nav-list>
  <a
    mat-list-item
    [routerLink]="['/venue-details', venue.id]"
    *ngFor="let venue of venues; trackBy: trackVenues"
    class="venue-list-item"
  >
    <div class="img-container">
      <img
        [src]="
          venue.imageUrl
            ? venue.imageUrl
            : '../../assets/images/img-placeholder.png'
        "
      />
    </div>
    <div class="content-container">
      <h4>{{ venue.name }}</h4>
      <h5>{{ venue.address }}, {{ venue.city }}</h5>
    </div>
  </a>
</mat-nav-list>
