<mat-nav-list>
  <mat-list-item *ngFor="let venue of venues" class="venue-list-item">
    <div class="img-container">
      <img
        [src]="
          venue.imageUrl
            ? venue.imageUrl
            : '../../assets/images/img-placeholder.png'
        "
      />
    </div>
    <div class="content-container">
      <h4>
        <a [routerLink]="['/venue-details', venue.id]">{{ venue.name }}</a>
      </h4>
      <h5>{{ venue.address }}, {{ venue.city }}</h5>
    </div>
  </mat-list-item>
</mat-nav-list>
