@import 'src/themes/colors';

:host {
  position: relative;
  display: block;
  height: auto;
}

.mat-nav-list {
  .mat-list-item.venue-list-item {
    height: 100px;
    padding: 10px 0 10px 0;

    .img-container {
      height: 100%;
      width: 100px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .content-container {
      color: $primary-dark;
      padding: 10px;
    }
  }
}

@media only screen and (min-width: 961px) {
  :host {
    width: 50%;
    float: left;
    height: calc(100vh - 59px);
  }

  ::ng-deep {
    .scroll-to-top {
      left: calc(50% - 55px);
    }
  }
}
