<div class="main-info-wrapper rounded shadowed flex">
  <div class="general flex">
    <img
      *ngIf="(venue?.categories)[0]?.icon"
      class="category-img"
      [src]="(venue?.categories)[0]?.icon"
    />
    <span *ngIf="!(venue?.categories)[0]?.icon" class="icon-img-placeholder">
      <span class="path1"></span> <span class="path2"></span>
      <span class="path3"></span> <span class="path4"></span>
      <span class="path5"></span> <span class="path6"></span>
      <span class="path7"></span> <span class="path8"></span
    ></span>
    <div class="captions flex">
      <h2>{{ venue?.name }}</h2>
      <p>{{ venue?.categories | venueCategories }}</p>
      <p>{{ venue?.city }}</p>
    </div>
  </div>
  <div class="rates flex">
    <div class="likes flex">
      <p>Likes:</p>
      <mat-icon [matBadge]="venue?.likes">thumb_up</mat-icon>
    </div>
    <ng-container *ngIf="venue?.price">
      <div class="price flex">
        <p>Price:</p>
        <mat-icon [ngClass]="{ colored: venue?.price >= 1 }"
          >attach_money</mat-icon
        >
        <mat-icon [ngClass]="{ colored: venue?.price >= 2 }"
          >attach_money</mat-icon
        >
        <mat-icon [ngClass]="{ colored: venue?.price >= 3 }"
          >attach_money</mat-icon
        >
        <mat-icon [ngClass]="{ colored: venue?.price >= 4 }"
          >attach_money</mat-icon
        >
      </div></ng-container
    >
    <div class="rating flex">
      <p>Rating:</p>
      <mat-icon
        *ngFor="let number of starNumbers"
        [class.empty]="venue?.rating <= number"
      >
        {{ venue?.rating >= number ? 'star' : 'star_border' }}
      </mat-icon>
    </div>
  </div>
</div>
