<a href="venues"><img class="logo" src="../../assets/images/logo.png"/></a>

<mat-form-field floatLabel="never">
  <input
    type="text"
    matInput
    name="search"
    [formControl]="search"
    [matAutocomplete]="auto"
    placeholder="I'm looking for..."
  />
  <mat-icon matSuffix class="input-icon-suffix">arrow_drop_down</mat-icon>
</mat-form-field>
<mat-autocomplete
  #auto="matAutocomplete"
  class="icons-autocomplete"
  panelWidth="204px"
>
  <mat-option value="top picks"
    ><i class="material-icons">star</i>Top Picks</mat-option
  >
  <mat-option value="trending"
    ><i class="material-icons">trending_up</i>Trending</mat-option
  >
  <mat-option value="food"
    ><i class="material-icons">local_dining</i>Food</mat-option
  >
  <mat-option value="coffee"
    ><i class="material-icons">local_cafe</i>Coffee</mat-option
  >
  <mat-option value="nightlife"
    ><i class="material-icons">local_bar</i>Nightlife</mat-option
  >
  <mat-option value="fun"
    ><i class="material-icons">local_play</i>Fun</mat-option
  >
  <mat-option value="shopping"
    ><i class="material-icons">local_mall</i>Shopping</mat-option
  >
  <mat-option value="pizza"
    ><i class="material-icons">local_pizza</i>Pizza</mat-option
  >
  <mat-option value="parking"
    ><i class="material-icons">local_parking</i>Parking</mat-option
  >
  <mat-option value="movies"
    ><i class="material-icons">local_movies</i>Movies</mat-option
  >
  <mat-option value="hotel"
    ><i class="material-icons">local_hotel</i>Hotel</mat-option
  >
</mat-autocomplete>
<mat-form-field class="location-filter" floatLabel="never">
  <input
    matInput
    placeholder="Current Map View"
    [formControl]="where"
    name="where"
  />
  <mat-icon
    matSuffix
    class="input-icon-suffix unselectable"
    (click)="getCurrentLocation($event)"
    >my_location</mat-icon
  >
</mat-form-field>
