@import '~@angular/material/theming';
@import 'src/themes/colors';

:host {
  display: block;
  position: fixed;
  background-color: $accent;
  height: 60px;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(35, 87, 137, 0.11) 0 1px;

  & > *:not(a) {
    vertical-align: middle;
    padding: 0 10px 0 10px;
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

img.logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 10px;
  height: 92%;
}

::ng-deep {
  .mat-form-field-flex {
    cursor: pointer;
  }

  .mat-autocomplete-panel.icons-autocomplete {
    max-height: 350px;

    i.material-icons {
      margin-right: 8px;
      font-size: 28px;
      color: $primary;
    }
    span.mat-option-text {
      display: flex;
      align-items: center;
    }
  }

  .cdk-overlay-pane {
    z-index: 2;
  }
}

.input-icon-suffix {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.location-filter .input-icon-suffix {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  :host {
    height: 50px;

    img.logo {
      height: 35px;
    }

    .mat-form-field {
      width: 120px;
      font-size: 12px;
    }

    .location-filter .input-icon-suffix {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 380px) {
  :host {
    img.logo {
      height: 35px;
    }

    .mat-form-field {
      width: 110px;
    }

    mat-autocomplete {
      padding: 0;
    }
  }
}
