@import '~normalize.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

p {
  margin-top: 0;
}

.flex {
  display: flex;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.shadowed {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
}

.rounded {
  @media only screen and (min-width: 950px) {
    & {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }

  @media only screen and (max-width: 560px) {
    & {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}
